input{

    width: 100%;
}


input[type=text],[type=password],[type=submit]{
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

label{
    
    display: inline-block;
}


.signup{
    padding:4%;
    margin-top:2%;
    margin-bottom:2%;    
    border-top: 1px solid rgb(42, 221, 241);
    border-right: 1px solid rgb(42, 221, 241);
    border-bottom: 1px solid rgb(42, 221, 241);
    border-left: 1px solid rgb(42, 221, 241);
    background-color: #282c34;

}

a{
    width: 100%;
    padding:4%;
    margin-top:2%;
}